<%- include("../includes/head.ejs") %>
  </head>

  <body>
    <%- include("../includes/navigation.ejs") %>

    <main>
      <div class="container p-4 h-100">
      <% if (errorMessage.length > 0) { %>
            <div class="alert alert-success"><%= errorMessage %></div>
        <% } %>
        <% if(products.length > 0) { %>
            <div class="row">
                <% products.forEach((product) => { %>
                    <div class="col-sm pb-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/<%= product.imageUrl %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.title %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">$<%= product.price %></h6>
                                <p class="card-text"><%= product.description %></p>
                                <a href="/products/<%= product._id %>" class="btn btn-secondary d-inline"><i class="fas fa-info"></i> Details</a>
                                <% if (isAuthenticated) { %>
                                    <%- include("../includes/add-to-cart.ejs", {product: product}) %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <%- include("../includes/pagination.ejs", {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
      </div>
    </main>
<%- include("../includes/end.ejs") %>
